<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
<title>Personal CV</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="bg-success container" style="background:rgb(255,140,0);">
<div class="container bg-light text-dark">

    <nav class="navbar navbar-expand-lg navbar-inverse bg-light" style="height:70px;">
        <header class="container-fluid-nav text-center" style='color:rgb(255,200,100);position:relative;top:15px;'>
        WELCOME TO MY WORLD
        </header>
        
        <div class="container-fluid-nav text-center" style='color:rgb(25,200,100);position:relative;top:15px;'>
            <i>some quote here-anonymous</i>
        </div>

        <div class="col-xs-8 pull-right text-right">
            <ul id="socials" style="font-size:36px;position:relative;bottom:30px;">
                <li><a href="https://www.instagram.com/supremogh1/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/Supremo_Gh1"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/agbavorfelix"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/in/agbavorfelix/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </nav>
    <div class='container' style='position:relative;bottom:30px;background:rgb(255,200,100)'>
        <div class="col-sm-12">
            <header class='name'><b>Felix Agbavor</b></header>
            <p class="address"><i>Drexel University, May 2021</i><p>
            <p class="address"><i>Biomedical Engineering, BSc., MSc.</i></p>
            <p class="address"><i>115 N 32nd St. Philadelphia, PA</i></p>
            <hr> 
        <div>

        <div class="col-sm-12">
        <h3>Current</h3>
            <ul>
                <li>Performing research work with Drexel ESSI lab on DNA sequence sampling techniques using a Deep Learning approach</li>
                <li>An on campus job: gotta keep myself afloat financially</li>
                <li>Taking classes</li>
            </ul>

        <h3>Previous</h3>
            <ul>
                <li>Travelled to Germany for a research coop at Ruhr University &nbsp&nbsp&nbsp <i>Bochum, Germany, Sept 2018 - Mar 2019</i></li>
                <li>Project Coordinator for DSG Inc.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>Malvern, PA, Sept 2017 - Mar 2018</i><li>
            </ul>

        <h3>Publications</h3>
            <ul>
                <li>Coming Soon: one under review</li>
                <li>Check out my medium <a href='https://medium.com/@agbavorfelix0' target='_blank'>here</a></li>
            </ul>

        <h3>Career interests</h3>
            <ul>
                <li>Machine Learning/Deep Learning & Artificial Intelligence</li>
                <li>Data Mining techniques</li>
                <li>Manipulating bits</li>
                <li>A pinch of Electrical Engineering</li>
            </ul>
        <h3>Skills (Software)</h3>
            <ul>
                <b><i>Proficient</i></b>
                <li>Django(website was built with this), Python, PyTorch 1.0, MATLAB, Aspen 8.6, ANSYS 10.0, JavaScript</li>
            </ul>
            <ul>
                <b><i>familiar</i></b>
                <li>C++/C</li>
            </ul>
        </div>

    </div>
</div>
</body>

</html>
